<a href="https://colab.research.google.com/github/tartam1/IT545/blob/main/Comprehensive_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IT545 - Programming for Data Analysis
## Comprehensive Assignment 1

### Problem 1
Type out the code in the cell below to print out your name, course # and assignment.
#### For example:
Chris Heiden<br>
IT545 Programming for Data Analysis<br>
Comprehensive Assignment 1<br>

In [ ]:
#Insert your code here along with the execution of it.
print("James Tartamella")
print("IT545 Programming for Data Analysis")
print("Comprehensive Assignment 1"

### Problem 2
In this code, you will demonstrate a few things. You will have a simple if statement that prints to display a message if the if statement is successfully executed.
#### Example:
if 5 > 2:
    print("Five is greater than two!")
Now, write the code that will check if 3 is less than 8 and print to the display a message that summarizes up what you will see.

In [1]:
#Insert your code here along with the execution of it.
if 3 < 8:
    print("Three is less than eight!")

Three is less than eight!

### Problem 3
In this problem, you will demonstrate your understanding of variables and printing them to the display.
#### Example:
This following code sets the variable x = 5 and y = "John". 5 is a number where "John" is a string.<br>
x = 5<br>
y = "John"<br>
print(x)<br>
print(y)<br>
Now, you need to set two variables - a and b - to the values of "Spartacus" and 22.5. Then display them. <br>

In [2]:
#Insert your code here along with the execution of it.
# I wanted to say I am sparticus :)
a = "Spartacus"
b = 22.5
print(a)
print(b)

Spartacus
22.5

### Problem 4
In this problem, please demonstrate the addition of two declared variables. Let x be 22 and y be 78. Add these two variables together and print the addition to the screen.

In [5]:
#Insert your code here along with the execution of it.
x = 22
y = 78
print(x + y)

100

### Problem 5
In this problem, you will create two variables and add them. One variable is x with a value of "John is:" and the other variable is y with a value of 25. Create the code that will print to display "John is: 25 years old."

In [6]:
#Insert your code here along with the execution of it.
# setup and print
x = "John is:"
y = 25
print(x, y, "years old.")

John is: 25 years old.

### Problem 6
You are going to write come code to demonstrate the order of operations / precedence (from mathematics). If you recall, the memory device to remember this - PEMDAS (Please Excuse My Dear Aunt Sally).<br>
P - Parenthesis<br>
E - Exponents<br>
M - Multiplication<br>
D - Division<br>
A - Addition<br>
S - Subtraction<br>
I want to subtract 4 from 10 and then square it. Write the code to do this.

In [7]:
#Insert your code here along with the execution of it.
# mathing
print((10 - 4) ** 2)

36

### Problem 7
Create a list named thisList which contains the following string values - apple, pear, strawberry, mango and kiwi. Also, print this list to the display.

In [11]:
#Insert your code here along with the execution of it.
# set up and then print list
thisList = ["apple", "pear", "strawberry", "mango", "kiwi"]
print(thisList)

['apple', 'pear', 'strawberry', 'mango', 'kiwi']

### Problem 8
Now, take the list from Problem 7 and display the first, third and fifth item from the list in separate lines.

In [12]:
#Insert your code here along with the execution of it.
# print list items
print(thisList[0])
print(thisList[2])
print(thisList[4])

apple
strawberry
kiwi

### Problem 9
In this problem, we are going to change an item value in a list.
#### Example
thisList2 = ["pie", "cake", "icecream"]<br>
print(thisList2)<br>
thisList2[1] = "brownies"<br>
print(thisList2)<br>
<ol>
<li>Now, create a new list called thisList3 with the following values: box, javelin, phone, mouse.</li>
<li>Print out this list.</li>
<li>Next, change the first and fourth item values to discus and cat, respectively.</li>
<li>Print out the list to show the new values.</li>
</ol>

In [14]:
#Insert your code here along with the execution of it.
thisList3 = ["box", "javelin", "phone", "mouse"]
print(thisList3)
# make change
thisList3[0] = "discus"
thisList3[3] = "cat"
# let know change has happened
print("made change")
print(thisList3)

['box', 'javelin', 'phone', 'mouse']
made change
['discus', 'javelin', 'phone', 'cat']

### Problem 10
In this problem, we are going to loop through a list with a for loop and print them values to the display.<br>
#### Example
thisList4 = ["bow","arrow","quiver"]<br>
for x in thisList4:<br>
&nbsp;&nbsp;&nbsp;&nbsp;print(x)<br>
Now, create a new list named ProblemTenTestList with the values: kroger, aldi, walmart, meijer. Now, create a for loop that will loop through all values and print them.

In [15]:
#Insert your code here along with the execution of it.
ProblemTenTestList = ["kroger", "aldi", "walmart", "meijer"]
for store_name in ProblemTenTestList:
    print(store_name)

kroger
aldi
walmart
meijer

### Problem 11
In this problem, you are going to check to see if a specified item exists in a list. This uses the "in" keyword.<br>
#### Example
Check to see if arrow exists in the list.<br>
thisList5 = ["bow","arrow","quiver"]<br>
if "arrow" in thisList5:<br>
&nbsp;&nbsp;&nbsp;&nbsp;print("Yes, 'arrow' exists in thisList5")<br>
Now, create a list called ProblemElevenTestList with the following values: kroger, aldi, walmart, and franks. Now, check to see if the value bobs exists in this. Now, you will have to employ another item - the else if or elif.

In [22]:
#Insert your code here along with the execution of it.
ProblemElevenTestList = ["kroger", "aldi", "walmart", "franks"]
if "bobs" in ProblemElevenTestList:
    print("Yes, 'bobs' exists in ProblemElevenTestList")
elif "franks" in ProblemElevenTestList:
    print("Yes, 'franks' exists in ProblemElevenTestList")
elif "bobs" not in ProblemElevenTestList:
    print("No, 'bobs or franks' are not in ProblemElevenTestList. It does not exist there")

Yes, 'franks' exists in ProblemElevenTestList

### Problem 12
In this example, you will code a tuple (which is not changeable).<br>
Create a tuple named ProblemTwelveTuple with the values apple, cherry, banana. Print it to the display.

In [ ]:
#Insert your code here along with the execution of it.
# Create tuple and print
ProblemTwelveTuple = ("apple", "cherry", "banana")
print(ProblemTwelveTuple)

### Problem 13
In this example, you will code a tuple (which is not changeable).<br>
Create a tuple named ProblemThirteenTuple with the values apple, cherry, banana, and salad. Look through it with a for loop and then print it to the display.

In [23]:
#Insert your code here along with the execution of it.
# Create tuple and loop through then print all items
ProblemThirteenTuple = ("apple", "cherry", "banana", "salad")
for fruit in ProblemThirteenTuple:
    print(fruit)

apple
cherry
banana
salad

### Problem 14
Now, as a repeat of the list example, please create a tuple with the following values (named ProblemFourteenTuple): box, echo, fox, charlie, delta. Check to see if the value charlie exists in the tuple.

In [30]:
#Insert your code here along with the execution of it.
# set up tuple and check for charlie by doing an if and in statement.
# if not found then show that
ProblemFourteenTuple = ("box", "echo", "fox", "charlie", "delta")
if "charlie" in ProblemFourteenTuple:
    print("charlie exists in ProblemFourteenTuple")
elif "charlie" not in ProblemFourteenTuple:
    print("charlie does not exist in ProblemFourteenTuple")

charlie does not exist in ProblemFourteenTuple

### Problem 15
In this problem, you will demonstrate how many items are in the tuple.<br>
Create a tuple named ProblemFifteenTuple with the values: box, echo, fox, charlie, delta, beta, gamma. Print to the display the number of items in the ProblemFifteenTuple tuple.

In [31]:
#Insert your code here along with the execution of it.
# set up tuple and use len to get the tuple lengh
ProblemFifteenTuple = ("box", "echo", "fox", "charlie", "delta", "beta", "gamma")
print(len(ProblemFifteenTuple))

7