<a href="https://colab.research.google.com/github/tartam1/IT545/blob/main/Lab_1_Assignment_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab Assignment 1

## Chapter 2 - Python Language Basics, IPython, and Jupyter Notebooks

In [ ]:
# Import Series and DataFrame into local namespace
# Run this code to properly import the components
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Problem 1

#### In this problem, you will type out (in separate cells) the lines under the headings of Tab Completion and Introspection (after Section 2.2 IPython Basics)

In [ ]:
# Type code below

In [ ]:
an_apple = 27

In [ ]:
an_example = 42

In [ ]:
an

When I did the tab key the popup did come up with various options on jupyter notbook. In colab the popup cameup without the tab. I can then select an entry if I want an at that point tab selects the item.

In [ ]:
b = [1, 2, 3]

In [ ]:
b.

Same thing as the previous entry with the selections and popups.

In [ ]:
import datetime

In [ ]:
datetime.

Same as previous input but with the datetime options.

Introspection

In [ ]:
b = [1, 2, 3]

In [ ]:
b?

In [ ]:
print?

In [ ]:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [ ]:
add_numbers?

In [ ]:
import numpy as np

In [ ]:
np.*load*?

## Problem 2

#### In this problem, you will type out the input lines (under the headings) in the Language Semantics section (in Section 2.3 Python Language Basics) - Variables and argument passing; Dynamic references, strong types;

Variable and argument passing

In [ ]:
# Type code below

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
b

[1, 2, 3]

In [ ]:
a.append(4)

In [ ]:
b

[1, 2, 3, 4]

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]

In [ ]:
append_element(data, 4)

In [ ]:
data

[1, 2, 3, 4]

Dynamic references, strong types

In [ ]:
a = 5

In [ ]:
type(a)

int

In [ ]:
a = "foo"

In [ ]:
type(a)

str

In [ ]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 4.5

In [ ]:
b = 2

In [ ]:
print(f"a is {type(a)}, b is {type(b)}")

a is <class 'float'>, b is <class 'int'>

In [ ]:
a / b

2.25

In [ ]:
a = 5

In [ ]:
isinstance(a, int)

True

In [ ]:
a = 5; b = 4.5

In [ ]:
isinstance(a, (int, float))

True

In [ ]:
isinstance(b, (int, float))

True

## Problem 3

#### In this problem, you will type out the input lines (under the headings) in the Language Semantics section (in Section 2.3 Python Language Basics) - Imports; Binary operators and comparisons

In [ ]:
# Type code below

The imports section requires using another file did not do it.

In [46]:
5 - 7

-2

In [47]:
12 + 21.5

33.5

In [48]:
5 <= 2

False

In [49]:
a = [1, 2, 3]

In [50]:
b = a

In [51]:
c = list(a)

In [52]:
a is b

True

In [53]:
a is not c

True

In [54]:
a == c

True

In [55]:
a = None

In [56]:
a is None

True

## Problem 4

#### In this problem, you will type out the input lines (under the headings) in the Language Semantics section (in Section 2.3 Python Language Basics) - Mutable and immutable objects.

In [ ]:
# Type code below

In [57]:
a_list = ["foo", 2, [4, 5]]

In [58]:
a_list[2] = (3, 4)

In [59]:
a_list

['foo', 2, (3, 4)]

In [60]:
a_tuple = (3, 5, (4, 5))

In [61]:
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

## Problem 5

#### In this problem, you will type out the input lines (under the headings) in the Scalar Types section (in Section 2.3 Python Language Basics) - Numeric types; Strings.

In [ ]:
# Type code below

In [62]:
ival = 17239871

In [63]:
ival ** 6

26254519291092456596965462913230729701102721

In [64]:
fval = 7.243

In [65]:
fval2 = 6.78e-5

In [66]:
3 / 2

1.5

In [67]:
3 // 2

1

In [68]:
a = 'one way of writing a string'

In [69]:
b = "another way"

In [71]:
c = """
This is a longer string that
spans multiple lines
"""

In [72]:
c.count("\n")

3

In [73]:
a = "this is a string"

In [74]:
 a[10] = "f"

TypeError: 'str' object does not support item assignment

In [75]:
b = a.replace("string", "longer string")

In [76]:
b

'this is a longer string'

In [77]:
a

'this is a string'

In [78]:
a = 5.6

In [80]:
s = str(a)

In [81]:
print(s)

5.6

In [82]:
s = "python"

In [83]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [84]:
s[:3]

'pyt'

In [85]:
s = "12\\34"

In [87]:
print(s)

12\34

In [88]:
a = "this is the first half "

In [89]:
b = "and this is the second half"

In [90]:
a + b

'this is the first half and this is the second half'

In [91]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [92]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [93]:
amount = 10

In [94]:
rate = 88.46

In [95]:
currency = "Pesos"

In [96]:
result = f"{amount} {currency} is worth US${amount / rate}"

In [97]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

## Problem 6

#### In this problem, you will type out the input lines (under the headings) in the Scalar Types section (in Section 2.3 Python Language Basics) - Bytes and Unicode; Booleans.

In [ ]:
# Type code below

## Problem 7

#### In this problem, you will type out the input lines (under the headings) in the Scalar Types section (in Section 2.3 Python Language Basics) - Dates and times.

In [ ]:
# Type code below

## Problem 8

#### In this problem, you will type out the input lines (under the headings) in the Control Flow section (in Section 2.3 Python Language Basics) - if, elif, and else.

In [ ]:
# Type code below

## Problem 9

#### In this problem, you will type out the input lines (under the headings) in the Control Flow section (in Section 2.3 Python Language Basics) - for loops.

In [ ]:
# Type code below

## Problem 10

#### EDIT - In this problem, you will type out the input lines (under the headings) in the Control Flow section (in Section 2.3 Python Language Basics) - while loops.

In [ ]:
# Type code below